[submodule "headscale"]
	path = headscale
	url = https://github.com/ywhking/headscale.git
	branch = dev
[submodule "headplane"]
	path = headplane
	url = https://github.com/ywhking/headplane.git
	branch = dev
[submodule "tailscale"]
	path = tailscale
	url = https://github.com/ywhking/tailscale.git
	branch = dev
[submodule "tailscale-wincli"]
	path = tailscale-wincli
	url = https://github.com/ywhking/tailscale-client.git
	branch = dev
